@model Chapter_5.Models.Product

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";

}

<h2>NameAndPrice</h2>
the product name is @Model.Name and this product cost @Model.Price
